.env
app/services/__pycache__/__init__.cpython-310.pyc
app/services/__pycache__/document_service.cpython-310.pyc
app/services/__pycache__/embedding_service.cpython-310.pyc
app/services/__pycache__/qa_service.cpython-310.pyc
app/services/__pycache__/retrieval_service.cpython-310.pyc
app/models/__pycache__/__init__.cpython-310.pyc
app/models/__pycache__/document.cpython-310.pyc
app/models/__pycache__/schemas.cpython-310.pyc
app/models/__pycache__/user.cpython-310.pyc
app/database/__pycache__/__init__.cpython-310.pyc
app/database/__pycache__/db.cpython-310.pyc
app/__pycache__/__init__.cpython-310.pyc
app/__pycache__/config.cpython-310.pyc
app/__pycache__/main.cpython-310.pyc
app/api/__pycache__/__init__.cpython-310.pyc
app/api/__pycache__/documents.cpython-310.pyc
app/api/__pycache__/qa.cpython-310.pyc
app/api/__pycache__/users.cpython-310.pyc
.gitignore
